<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512082521471-6ovgjrp04munlhdhlrlsetb0g5tf2fg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512082521471-6ovgjrp04munlhdhlrlsetb0g5tf2fg4</string>
	<key>API_KEY</key>
	<string>AIzaSyBzhMT0gYGBCnzWk4ePwucwmcGw26R5Qy0</string>
	<key>GCM_SENDER_ID</key>
	<string>512082521471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.TiagoTeodoro.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-92158</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-92158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512082521471:ios:61b400eeb63b49025efe4a</string>
</dict>
</plist>